.operationalContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1050px;
    height: 715px;
    margin: 20px auto;
    padding: 10px 10px 10px;
}

.opTitleArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;

}

.componentTitleBtn{
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 70%;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    font-weight: bold;
    color: #696969;
    text-shadow: 0 1px 2px rgb(128, 128, 128);
}

.componentTitleBtn:hover, .opPrintArea button:hover, .buttonArea button:hover{
    background-blend-mode: multiply;
    background-color: rgba(0, 102, 255, 0.25);

}

.opPrintArea{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    height: 70%;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.opTable{
    white-space : nowrap;
    width: 70%;
    text-align: center;
}

.opTable td{
    vertical-align: middle;
    margin: 10px 0
}

.opTable input{
    width: 100px;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.opTable input:focus{
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.opPrintArea button{
    margin: 0 20px;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    background-color: transparent;
    height: 40px;
    width: 120px;
    outline: none;
    font-weight: bold;
}

.opUpdateContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}
.compareContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 47%;
    height: 90%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);


}

.compareTitle{
    margin: 10px;
    color: black;
    text-shadow: 0 1px 2px rgb(128, 128, 128);
    text-align: center;


}

.buttonArea button{
    background-color: white;
}
.opButtonArea{
    margin-bottom: 10px;
}

.selectedColor{
    background-color: #daedfc;
}