@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular', sans-serif;
    padding:0; margin:0;
    list-style-type: none;
}
a{
    text-decoration: none!important;
    color:inherit!important;
}

.header {
    background-color: #f8f8f8;
    height: 79px;
    padding: 20px;
    box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.2);
}

html{background-color: rgba(250, 250, 250, 0.54);}
/*이름구역*/
.profile{
    padding: 15px 20px;
    text-align: right;
    background-color: white;
    box-shadow: -1px 0 5px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    color: #4682A9;
    font-size: 18px;
    font-family: "맑은 고딕", serif;

}

.profile .headerName, .departmentName, .positionName, .enum{
    border: 1px solid #e8e8e8;
    padding: 3px 10px;
    margin: 0 5px;
    border-radius: 5px;
    color: black;
}
