@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*{
    font-family: 'Noto Sans KR', sans-serif;
    padding:0; margin:0;
    list-style-type: none;
}
a{
    text-decoration: none!important;
    color:inherit!important;
}

html{ background-color: rgba(250, 250, 250, 0.54); }

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}
/*이름구역*/
.profile{
    padding: 20px;
    text-align: right;
    background-color: white;
    box-shadow: -1px 0 5px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    color: #4682A9;
    font-size: 18px;
    font-family: "맑은 고딕", serif;

}

.profile .mno{
    margin-left: 18px;
}
.profile .mname{
    margin-left: 18px;
}
.profile .tier{
    margin-left: 18px;
}
