/* 컬럼 설정 */
.tableColumn .eno,.tableColumn .mname
,.tableColumn .msex, .tableColumn .mphone
,.tableColumn .mbirth,.tableColumn .rname
,.tableColumn .rphone , .tableColumn .eaddress
,.tableColumn .erank , .tableColumn .pname
,.tableColumn .dcode , .tableColumn .ejoin
{
    background-color: #4682A9;
    color:white;
    text-align: center;
    padding:6px;
    border: 1px solid #4b8dbd;
}
/* 레코드 설정 */
.tableRecord .eno,.tableRecord .mname
,.tableRecord .msex, .tableRecord .mbirth
,.tableRecord .rphone,.tableRecord .pname
,.tableRecord .dcode , .tableRecord .eaddress
    ,.tableRecord .ejoin
{border:1px solid #e8e8e8; padding:5px; text-align: center;}
/* 테이블 컬럼 크기 */
.tableWrap .eno{ width: 10% }
.tableWrap .mname{ width:10%}
.tableWrap .msex{ width:10%}
.tableWrap .mphone{width:10% }
.tableWrap .mbirth{ width:10% }
.tableWrap .rphone{width:14% }
.tableWrap .eaddress{width:15% }
.tableWrap .pname{width:8% }
.tableWrap .dcode{width:8% }
.tableWrap .ejoin{width:15% }

.employeeSearchWrap{display:flex; justify-content: space-between}
/* 검색 구역 */
.search_Box .departmentBox{ margin-right: 5px;}
.search_Box .positionBox{ margin-right: 15px; width:75px;}
.search_Box .employSearchInput{padding-left:3px;margin-right:5px;}
/* 총 검색 수 */
.totalRecordBox{display:flex; margin-right:15px;align-items: center;}
.totalRecordBox .totalRecordWrap{margin-right:10px; font-weight: bold;}